body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  width: 496px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  padding-bottom: 72px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

p {
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}

.web-word {
  color: #4d5ae5;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-basis: calc((100% - 80px) / 3);
  font-weight: 500;
  margin-left: 76px;
}

.site-address {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 40px) / 2);
  gap: 40px;
}

.site-nav .link,
.site-address .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

address {
  margin-left: auto;
}

.features-list,
.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
}

.features-item {
  width: 264px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-subitem {
  text-align: center;
  padding: 32px 16px;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio-subitem {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.link {
  font-style: normal;
  text-decoration: none;
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address-link {
  color: #434455;
}

.studio-link:active {
  color: #404bbf;
}

.upper-section {
  padding: 188px 0;
  background-color: #2e2f42;
}

.order-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.team-section {
  background-color: #f4f4fd;
}

.footer-description,
.footer-logo {
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-description {
  max-width: 264px;
}

footer {
  background-color: #2e2f42;
  border: 1px solid #e7e9fc;
}
